.contenedor {
    padding: 20px;
}
  
.item-titulo{
    display: flex;
    width: 100%;
}
  
.item-buscador {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.item-tabla {
    display: flex;
    width: 100%;
}
.item-info {
    width: 100%;
    display: flex;
}